<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.librarys.tools">

<!--    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE" />-->

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission-sdk-23 android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>


    <!-- api27 后 允许访问非https网络  android:usesCleartextTraffic="true" -->
<!--    android:theme="@android:style/Theme.NoDisplay"-->
    <application
        android:name="com.njzz.bases.common.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="m">
        <activity android:name="com.librarys.tools.design.impl.view.Main2Activity"/>
        <activity android:name="com.librarys.tools.design.impl.view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <receiver android:name=".boardcast.PhoneReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE"/>
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
            </intent-filter>
        </receiver>
        <service android:name=".services.ViewService" android:permission="android.permission.BIND_INCALL_SERVICE">
            <meta-data
                android:name="android.telecom.IN_CALL_SERVICE_UI"
                android:value="true" />
            <intent-filter>
                <action android:name="android.telecom.InCallService" />
            </intent-filter>
        </service>

<!--        android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"-->
        <service android:name=".services.NotifyService"
            android:label="服务显示名"
            android:enabled="true"
            android:exported="true"
            android:process=":pushservice"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
             >
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <service android:name=".services.forgroundServer"
            android:exported="true"
            android:process=":pushservice"
            />

        <receiver android:name=".boardcast.BoardReciver"
            android:enabled="true"
            android:exported="true"
            android:process=":receiver"
            >
            <intent-filter>
                <action android:name="repeatKeepRecevier" />
            </intent-filter>
        </receiver>
    </application>

</manifest>